---
import { Image } from 'astro:assets';

import ThemeSwitch from '../ui/ThemeSwitch';
import BackgroundNet from '../components/BackgroundNet.astro';
import Heading from '../components/Heading.astro';
import Anchor from '../components/Anchor.astro';
import Section from '../components/Section.astro';
import Heading2 from '../components/Heading2.astro';
import Highlight from '../components/Highlight.astro';
import Layout from '../layouts/Layout.astro';

import AdrienCastagliolaWebP from '../assets/images/adrien-castagliola.webp';

const linkedInUrl = "https://www.linkedin.com/in/adriencastagliola/";
const gitHubUrl = "https://github.com/AdrienCasta";
const maltUrl = "https://www.malt.fr/profile/adriencastagliola?overview";
const email = "adrien.castagliola@gmail.com";
const phone = "+33647046382";
---

<Layout title="Adrien Castagliola | Senior Front-End developer">
	<main class="bg-violet-2 dark:bg-violet-dark-2 flex justify-center">
		<div class="max-w-7xl px-4 relative">
			<div class="flex justify-end pt-5">
				<ThemeSwitch client:load />
			</div>
			<section class="flex flex-col mt-6 mb-32">
				<header class="mb-14">
					<nav class="flex md:flex-row-reverse font-heading">
						<ul class="flex md:gap-3 w-full justify-between md:justify-start">
							<li>
								<Anchor href="#about">
									A propos
								</Anchor>
							</li>
							<li>
								<Anchor href="#skills">
									Compétences
								</Anchor>
							</li>
							<li>
								<Anchor href="#projects">
									Projets
								</Anchor>
							</li>
							<li>
								<Anchor href="#contact">
									Contact
								</Anchor>
							</li>
						</ul>
					</nav>
				</header>
				<div class="flex justify-center relative">
					<div class="w-64 h-64 relative">
						<BackgroundNet />
						<Image class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 h-32 w-32 rounded-full" src={AdrienCastagliolaWebP} alt='A picture of Adrien Castagliola, a Senior Frontend developper' />
					</div>
				</div>
				<div class="flex-1 flex">
					<div class="mt-14">
						<h1 class="text-4xl md:text-5xl text-violet-12 dark:text-violet-dark-12">
							Salut,<span class="block">Je suis <span class="text-violet-11 dark:text-violet-dark-11">Adrien Castagliola</span>.</span> 
						</h1>
						<p class="text-violet-12 dark:text-violet-dark-12 mt-6 text-2xl">
							Un développeur frontend expérimenté, spécialisé dans la création d' <Highlight> application web </Highlight> et <Highlight> mobile </Highlight>.
						</p>
						<div class="flex gap-4 items-center mt-10">
							<ul class="flex gap-3">
								<li>
									<a class="bg-violet-9 dark:bg-violet-dark-9 hover:bg-violet-10 hover:dark:bg-violet-dark-10 p-2 text-white transition-colors text-base font-heading" href={linkedInUrl}>
										LinkedIn
									</a>
								</li>
								<li>
									<a class="bg-violet-9 dark:bg-violet-dark-9 hover:bg-violet-10 hover:dark:bg-violet-dark-10 p-2 text-white transition-colors text-base font-heading" href={maltUrl}>
										Malt
									</a>
								</li>
								<li>
									<a class="bg-violet-9 dark:bg-violet-dark-9 hover:bg-violet-10 hover:dark:bg-violet-dark-10 p-2 text-white transition-colors text-base font-heading" href={gitHubUrl}>
										GitHub
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<Section id="about">
				<Heading>
					A propos de moi
				</Heading>
				<p class="text-violet-12 dark:text-violet-dark-12 text-xl ">
					Je suis Adrien Castagliola, un développeur frontend chevronné avec 7 années d'expérience, spécialisé en <Highlight>React</Highlight> et <Highlight>TypeScript</Highlight>. Je suis passionné par la création d'interfaces web interactives qui suscitent l'engagement des utilisateurs.
				</p>
				<Heading2>Mon expertise</Heading2>
				<p class="text-violet-12 dark:text-violet-dark-12 text-xl">
					Avec une solide expérience dans l'industrie du développement web, je me suis spécialisé dans l'utilisation de <Highlight>React</Highlight>, ainsi que <Highlight>TypeScript</Highlight>, pour un code robuste. Mon objectif principal est de rendre la technologie accessible à tous, en créant des applications web intuitives et performantes.
				</p>
				<Heading2>Mes services</Heading2>
				<ol class="flex flex-col gap-3">
					<li class="text-violet-12 dark:text-violet-dark-12 text-xl">
						<strong class="font-bold">Expertise Technique</strong>: Maîtrisant <Highlight>React</Highlight> et <Highlight>TypeScript</Highlight>, je peux transformer vos idées en interfaces utilisateur dynamiques et réactives, offrant une expérience utilisateur optimale.
					</li>
					<li class="text-violet-12 dark:text-violet-dark-12 text-xl">
						<strong class="font-bold">Créativité et Adaptabilité</strong>: Je suis passionné par l'innovation et la créativité. Je m'adapte aux nouvelles tendances et je suis constamment à la recherche de moyens d'améliorer l'expérience de l'utilisateur tout en respectant vos besoins spécifiques.
					</li>
					<li class="text-violet-12 dark:text-violet-dark-12 text-xl">
						<strong class="font-bold">Collaboration Transparente</strong>: Je crois en une communication ouverte et en une collaboration étroite avec mes clients. Je suis là pour comprendre vos besoins et vous offrir des solutions personnalisées et efficaces.
					</li>
				</ol>
			</Section>
			<Section id="skills">
				<Heading>
					Compétences
				</Heading>
				<p class="text-violet-12 dark:text-violet-dark-12 text-xl">Je me suis spécialisé sur des technologies modernes, optimisées et à l'épreuve du temps.</p>
				<div>
					<div class="mt-6">
					  <dl class="divide-dotted divide-y divide-violet-6 dark:divide-violet-dark-6">
						<div class="px-2 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
						  <dt class="text-violet-11 dark:text-violet-dark-11 text-xl">Languages frontend</dt>
						  <dd class="mt-1 text-violet-12 dark:text-violet-dark-12 text-xl sm:col-span-2 sm:mt-0">Javascript, Typescript, HTML, CSS</dd>
						</div>
						<div class="px-2 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
						  <dt class="text-violet-11 dark:text-violet-dark-11 text-xl">Frameworks frontend</dt>
						  <dd class="mt-1 text-violet-12 dark:text-violet-dark-12 text-xl sm:col-span-2 sm:mt-0">React, Next, Astro</dd>
						</div>
						<div class="px-2 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
							<dt class="text-violet-11 dark:text-violet-dark-11 text-xl">Utilitaires CSS</dt>
							<dd class="mt-1 text-violet-12 dark:text-violet-dark-12 text-xl sm:col-span-2 sm:mt-0">Tailwind, Emotion</dd>
						  </div>
						<div class="px-2 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
							<dt class="text-violet-11 dark:text-violet-dark-11 text-xl">Frameworks mobile</dt>
							<dd class="mt-1 text-violet-12 dark:text-violet-dark-12 text-xl sm:col-span-2 sm:mt-0">React Native</dd>
						</div>
						<div class="px-2 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
							<dt class="text-violet-11 dark:text-violet-dark-11 text-xl">Languages backend</dt>
							<dd class="mt-1 text-violet-12 dark:text-violet-dark-12 text-xl sm:col-span-2 sm:mt-0">NodeJS, PHP</dd>
						</div>
						<div class="px-2 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
						  <dt class="text-violet-11 dark:text-violet-dark-11 text-xl">Tests</dt>
						  <dd class="mt-1 text-violet-12 dark:text-violet-dark-12 text-xl sm:col-span-2 sm:mt-0">Vitest, React Testing Library, Cypress</dd>
						</div>
					  </dl>
					</div>
				</div>	
			</Section>
			<Section id="projects">
				<Heading>
					Projets
				</Heading>
				<div class="flex flex-wrap gap-6">
					<article class="flex-auto basis-96">
						<header>
							<h3 class="text-2xl text-violet-12 dark:text-violet-dark-12 mb-2">BuyCo</h3>
							<span class="text-violet-12 dark:text-violet-dark-12 text-xl italic block py-2">The Collaborative Platform for your Container Shipping.</span>
						</header>
						<section>
							<p class="text-violet-12 dark:text-violet-dark-12 text-xl">
								En tant que développeur Frontend senior spécialisé en React et TypeScript j'ai accompagné l'équipe Tech de <a class="text-violet-11 dark:text-violet-dark-11 underline" href="https://buyco.co/fr/">Buyco</a> dans l'amélioration continu du Transport Magangement System pour le bien de nos clients tels que Yamaha, Honda ou AB InBev. 
							</p>
						</section>
					</article>
					<article class="flex-auto basis-96">
						<header>
							<h3 class="text-2xl text-violet-12 dark:text-violet-dark-12 mb-2">Edflex</h3>
							<span class="text-violet-12 dark:text-violet-dark-12 text-xl italic block py-2">The best learning content for your company.</span>
						</header>
						<section>
							<p class="text-violet-12 dark:text-violet-dark-12 text-xl">
								Au sein d' <a class="text-violet-11 dark:text-violet-dark-11 underline" href="https://www.edflex.com/">Edflex</a>, j'ai pu apporter mon expertise en développement Frontend pour concevoir et améliorer les interfaces du Learning Management System afin de garantir une expérience intuitive et sans friction au près de nos clients tels que Total Energie, BNP Paribas et Allianz.
							</p>
						</section>
					</article>
					<article class="flex-auto basis-96">
						<header>
							<h3 class="text-2xl text-violet-12 dark:text-violet-dark-12 mb-2">Dernier Cri</h3>
							<span class="text-violet-12 dark:text-violet-dark-12 text-xl italic block py-2"> Une product factory engagée et animée par le succès de vos produits.</span>
						</header>
						<section>
							<p class="text-violet-12 dark:text-violet-dark-12 text-xl">
								Chez <a class="text-violet-11 dark:text-violet-dark-11 underline" href="https://derniercri.io/">Dernier Cri</a>, j'ai pu accompagner des entrepeneurs et des startups à développer des produits digitaux utiles à tous en React, Next, React Native et Laravel en tant que développeur Fullstack.
							</p>
						</section>
					</article>
				</div>
			</section>
			<Section id="contact">
				<Heading>
					Rencontrons-nous !
				</Heading>
				<div class="text-violet-12 dark:text-violet-dark-12 text-xl pb-6">
					<p>
						Vous pouvez me joindre via <a class="text-violet-11 dark:text-violet-dark-11 underline underline-offset-2" href={linkedInUrl}>LinkedIn</a> et voir mes projets sur <a class="text-violet-11 dark:text-violet-dark-11 underline underline-offset-2" href={gitHubUrl}>GitHub</a>. 
					</p>
					<p>
						N'hésitez pas à m'envoyer un <a class="text-violet-11 dark:text-violet-dark-11 underline underline-offset-2" href=`mailto:${email}`>
							e-mail
						</a> ou un  <a class="text-violet-11 dark:text-violet-dark-11 underline underline-offset-2" href=`sms:${phone}`>SMS</a>.
					</p>
				</div>
			</Section>
		</div>
	</main>
</Layout>
